{% extends 'oferty/base.html.twig' %}

{% block title %}{% trans %}Add ofert{% endtrans %} {% endblock %}

{% block body %}
<style>

</style>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {# todo - replace with a Symfony form! #}
                <form class="form-addOferta" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">{% trans %}addOferta{% endtrans %}</h1>
                    <label for="inputTytul" class="sr-only">Tytuł oferty</label>
                    <input type="tytul" name="tytul" id="inputTytul" class="form-control" placeholder="Tytuł oferty"  >
                    <label for="inputTresc" class="sr-only">Tresc</label>
                    <textarea style="height: 300px; padding: 5px 5px 5px 5px;"  type="tresc" name="tresc" id="inputTresc" class="form-control" placeholder="Treść" ></textarea>
                    <span>Wybierz wojewodztwo</span>
                    <select name="wojewodztwa" onChange="updateMiasto(this.value)">
                        {% for woj in wojewodztwa %}
                            <option value="{{woj.id}}">{{woj.nazwa}}</option>
                        {% endfor %}
                    </select><br><br>
                    <span>Wybierz miasto</span>
                    <select id="miastoselect" name="miasto">
                        {% if miasta|length>0 %}
                            {% for miasto in miasta %}
                                <option value="{{ miasto.id }}">{{ miasto.nazwa }}</option>
                            {% endfor %}
                        {% endif %}

                    </select>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Dodaj ofertę
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
