{% extends 'oferty/base.html.twig' %}

{% block title %}{% trans %}Add ofert{% endtrans %} {% endblock %}

{% block body %}
<style>

</style>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Oferta została dodana</h2>
            </div>
        </div>
    </div>
{% endblock %}
