{% extends 'base.html.twig' %}

{% trans_default_domain "account" %}

{% block title %}Manage Account!{% endblock %}



{% block body %}
    <div class="container" style="text-align: center;">
        <h3>{% trans %}Welcome back{% endtrans %}, {{ app.user.imie }} {{ app.user.nazwisko }}</h3>
    {% if app.user.oferty|length %}
        {% for oferta in app.user.oferty %}<div class="uzytkownikOferta {% if oferta.aktywna %}oferta-aktwna{% else %}oferta-nieaktywna{% endif %} "> {{oferta.tytul}} <a href="{{ path('disable_offer', { oferta: oferta.id })  }} ">{% if oferta.aktywna %}Deaktywuj{% else %}Aktywuj{% endif %}</a></div>{% endfor %}
    {% else %}
        <h2>Brak dodanych ofert.</h2>
    {% endif %}
    </div>
{% endblock %}